.u-section-1 {background-image: url("images/DSC_0056.JPG"); background-position: 50% 50%; min-height: 607px}
.u-section-1 .u-text-1 {font-size: 3.75rem; background-image: none; font-weight: 700; animation-duration: 1000ms; margin: 289px 108px 0 auto}
.u-section-1 .u-text-2 {font-size: 3rem; background-image: none; font-weight: 700; animation-duration: 1000ms; margin: 0 170px 0 auto}
.u-section-1 .u-layout-wrap-1 {margin: -22px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 400px}
.u-section-1 .u-container-layout-1 {padding: 30px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 413px}
.u-section-1 .u-text-1 {margin-right: 89px}
.u-section-1 .u-text-2 {margin-right: 140px}
.u-section-1 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 330px} }

@media (max-width: 991px){ .u-section-1 {min-height: 300px}
.u-section-1 .u-text-1 {margin-right: 68px}
.u-section-1 .u-text-2 {margin-right: 107px}
.u-section-1 .u-layout-cell-1 {min-height: 253px} }

@media (max-width: 767px){ .u-section-1 {min-height: 516px}
.u-section-1 .u-text-1 {margin-right: 51px}
.u-section-1 .u-text-2 {margin-right: 81px}
.u-section-1 .u-layout-cell-1 {min-height: 190px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 {min-height: 323px}
.u-section-1 .u-text-1 {margin-right: 32px}
.u-section-1 .u-text-2 {margin-right: 51px}
.u-section-1 .u-layout-cell-1 {min-height: 120px} }.u-section-2 .u-sheet-1 {min-height: 640px}
.u-section-2 .u-layout-wrap-1 {margin-top: 70px; margin-bottom: 70px}
.u-section-2 .u-layout-cell-1 {min-height: 500px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {height: 250px; margin: 0 auto 0 0}
.u-section-2 .u-text-1 {font-weight: 700; font-size: 1.5rem; margin: 30px 30px 0}
.u-section-2 .u-text-2 {margin: 29px 5px 0}
.u-section-2 .u-layout-cell-2 {min-height: 500px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-2 {height: 250px; object-position: 50% 4.72%; margin: 0 auto 0 0}
.u-section-2 .u-text-3 {font-weight: 700; font-size: 1.5rem; margin: 30px 30px 0}
.u-section-2 .u-text-4 {margin: 29px 30px -9px}
.u-section-2 .u-layout-cell-3 {min-height: 500px}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-image-3 {height: 250px; margin: 0 auto 0 0}
.u-section-2 .u-text-5 {font-weight: 700; font-size: 1.5rem; margin: 30px 30px 0}
.u-section-2 .u-text-6 {margin: 20px 30px 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 100px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {height: 206px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-image-2 {height: 206px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-image-3 {height: 206px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-5 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-6 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 23px}
.u-section-2 .u-image-1 {height: 158px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {height: 158px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {height: 158px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {height: 356px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-2 {height: 356px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-3 {height: 356px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {height: 224px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {font-size: 1.5}
.u-section-2 .u-image-2 {height: 224px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-3 {font-size: 1.5}
.u-section-2 .u-image-3 {height: 224px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-5 {font-size: 1.5} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 300px}
.u-section-3 .u-layout-wrap-1 {margin: 29px 0}
.u-section-3 .u-layout-cell-1 {min-height: 263px}
.u-section-3 .u-container-layout-1 {padding: 20px 30px}
.u-section-3 .u-text-1 {font-weight: 700; margin: 0}
.u-section-3 .u-text-2 {margin: 20px 0 0}
.u-section-3 .u-layout-cell-2 {min-height: 263px}
.u-section-3 .u-container-layout-2 {padding: 20px 30px}
.u-section-3 .u-text-3 {font-weight: 700; margin: 0}
.u-section-3 .u-text-4 {margin: 20px 0 0}
.u-section-3 .u-layout-cell-3 {min-height: 263px; background-image: none}
.u-section-3 .u-container-layout-3 {padding: 20px 30px}
.u-section-3 .u-text-5 {font-weight: 700; margin: 0}
.u-section-3 .u-text-6 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 230px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 25px; padding-right: 25px}
.u-section-3 .u-text-1 {font-family: Montserrat, sans-serif}
.u-section-3 .u-container-layout-2 {padding-left: 25px; padding-right: 25px}
.u-section-3 .u-container-layout-3 {padding-left: 25px; padding-right: 25px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 153px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-3 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 90px}
.u-section-3 .u-layout-cell-1 {min-height: auto}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-2 {min-height: auto}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-3 {min-height: auto}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 20px} }.u-section-4 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 50vw}
.u-section-4 .u-group-1 {width: 569px; min-height: 559px; margin: 102px auto 0 633px}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-layout-wrap-1 {width: 1140px; margin: -468px auto 60px 20px}
.u-section-4 .u-layout-cell-1 {min-height: 532px}
.u-section-4 .u-container-layout-2 {padding: 30px 40px}
.u-section-4 .u-text-1 {font-size: 3rem; font-weight: 700; margin: 84px 0 0}
.u-section-4 .u-text-2 {font-size: 1.125rem; font-weight: 600; margin: 20px -9px 0 9px}
.u-section-4 .u-btn-1 {background-image: none; margin: 50px auto 0 0; padding: 12px 42px 13px}
.u-section-4 .u-image-1 {min-height: 532px; background-image: url("images/ORJ9ZL1.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-3 {padding: 45px 0 30px} 

@media (max-width: 1199px){ .u-section-4 {min-height: 50vw}
.u-section-4 .u-group-1 {margin-left: 371px}
.u-section-4 .u-layout-wrap-1 {width: 940px; margin-left: 0}
.u-section-4 .u-layout-cell-1 {min-height: 439px}
.u-section-4 .u-text-1 {font-size: 2.25rem}
.u-section-4 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-4 .u-image-1 {min-height: 439px} }

@media (max-width: 991px){ .u-section-4 .u-group-1 {margin-left: 151px}
.u-section-4 .u-layout-wrap-1 {width: 720px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-text-2 {font-size: 1rem}
.u-section-4 .u-image-1 {min-height: 336px}
.u-section-4 .u-container-layout-3 {padding-top: 30px} }

@media (max-width: 767px){ .u-section-4 .u-group-1 {width: 540px; margin-left: 0}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-layout-wrap-1 {width: 540px}
.u-section-4 .u-layout-cell-1 {min-height: 155px; order: 1}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-1 {font-size: 3.75rem}
.u-section-4 .u-image-1 {min-height: 488px; order: 0} }

@media (max-width: 575px){ .u-section-4 .u-group-1 {width: 340px}
.u-section-4 .u-layout-wrap-1 {width: 340px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-text-1 {font-size: 2.25}
.u-section-4 .u-image-1 {min-height: 307px} }.u-section-5 {margin-top: 0; margin-bottom: 0}
.u-section-5 .u-sheet-1 {min-height: 860px}
.u-section-5 .u-text-1 {font-size: 3rem; font-weight: 700; margin: 45px auto 0}
.u-section-5 .u-layout-wrap-1 {width: 1140px; margin: 35px auto 60px 0}
.u-section-5 .u-layout-cell-1 {min-height: 251px}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-image-1 {min-height: 251px; background-image: url("images/9.png"); background-position: 57.97% 50%}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-image-2 {min-height: 499px; background-image: url("images/11.png"); background-position: 50% 50%}
.u-section-5 .u-container-layout-3 {padding: 30px 60px}
.u-section-5 .u-image-3 {min-height: 499px; background-image: url("images/8.jpg"); background-position: 50% 50%}
.u-section-5 .u-container-layout-4 {padding: 30px 60px}
.u-section-5 .u-image-4 {min-height: 251px; background-image: url("images/10.png"); background-position: 50% 50%}
.u-section-5 .u-container-layout-5 {padding: 30px}
.u-section-5 .u-layout-cell-6 {min-height: 251px}
.u-section-5 .u-container-layout-6 {padding: 30px} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 594px}
.u-section-5 .u-layout-wrap-1 {width: 940px}
.u-section-5 .u-layout-cell-1 {min-height: 207px}
.u-section-5 .u-image-1 {min-height: 207px}
.u-section-5 .u-image-2 {min-height: 411px}
.u-section-5 .u-image-3 {min-height: 411px}
.u-section-5 .u-image-4 {min-height: 207px}
.u-section-5 .u-layout-cell-6 {min-height: 207px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 1743px}
.u-section-5 .u-layout-wrap-1 {width: 720px}
.u-section-5 .u-layout-cell-1 {min-height: 317px}
.u-section-5 .u-image-1 {min-height: 317px}
.u-section-5 .u-image-2 {min-height: 630px}
.u-section-5 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-image-3 {min-height: 630px}
.u-section-5 .u-container-layout-4 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-image-4 {min-height: 317px}
.u-section-5 .u-layout-cell-6 {min-height: 317px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 2705px}
.u-section-5 .u-layout-wrap-1 {width: 540px}
.u-section-5 .u-layout-cell-1 {min-height: 892px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-1 {min-height: 324px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-2 {min-height: 473px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-3 {min-height: 473px}
.u-section-5 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-4 {min-height: 348px}
.u-section-5 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-cell-6 {min-height: 751px}
.u-section-5 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 1639px}
.u-section-5 .u-layout-wrap-1 {width: 340px}
.u-section-5 .u-layout-cell-1 {min-height: 562px}
.u-section-5 .u-image-1 {min-height: 204px}
.u-section-5 .u-image-2 {min-height: 298px}
.u-section-5 .u-image-3 {min-height: 298px}
.u-section-5 .u-image-4 {min-height: 219px}
.u-section-5 .u-layout-cell-6 {min-height: 473px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 113px}
.u-section-6 .u-text-1 {font-weight: 700; font-size: 1.875rem; margin: 40px auto} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 356px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 746px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 1608px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 1033px}
.u-section-6 .u-text-1 {font-size: 2.25} }.u-section-7 {background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/6.jpg"); background-position: 50% 100%}
.u-section-7 .u-sheet-1 {min-height: 556px}
.u-section-7 .u-text-1 {font-weight: 700; margin: 283px 20px 0}
.u-section-7 .u-text-2 {margin: 20px 219px 0 193px}
.u-section-7 .u-btn-1 {margin: 27px auto 43px} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 459px}
.u-section-7 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-7 .u-text-2 {margin-left: 93px; margin-right: 119px; width: 839px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 352px}
.u-section-7 .u-text-2 {margin-left: 0; margin-right: 0; width: 720px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 264px}
.u-section-7 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 166px}
.u-section-7 .u-text-2 {width: 340px} }.u-section-8 {background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/3.jpg"); background-position: 50% 50%}
.u-section-8 .u-sheet-1 {min-height: 556px}
.u-section-8 .u-text-1 {font-weight: 700; margin: 283px 20px 0}
.u-section-8 .u-text-2 {margin: 20px 219px 0 193px}
.u-section-8 .u-btn-1 {margin: 27px auto 43px} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 459px}
.u-section-8 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-8 .u-text-2 {margin-left: 93px; margin-right: 119px; width: 839px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 352px}
.u-section-8 .u-text-2 {margin-left: 0; margin-right: 0; width: 720px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 264px}
.u-section-8 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 166px}
.u-section-8 .u-text-2 {width: 340px} }.u-section-9 {background-image: none}
.u-section-9 .u-sheet-1 {min-height: 747px}
.u-section-9 .u-text-1 {font-size: 12.5rem; text-transform: uppercase; font-weight: 900; margin: 18px auto 0}
.u-section-9 .u-text-2 {text-transform: uppercase; font-weight: 900; font-size: 4.5rem; margin: -143px auto 0}
.u-section-9 .u-layout-wrap-1 {margin: 70px auto 18px 0}
.u-section-9 .u-layout-cell-1 {min-height: 464px}
.u-section-9 .u-container-layout-1 {padding: 30px}
.u-section-9 .u-text-3 {text-transform: uppercase; font-weight: 700; font-size: 2.25rem; margin: 47px auto 0 0}
.u-section-9 .u-text-4 {margin: 20px auto 0 0}
.u-section-9 .u-icon-1 {height: 48px; width: 48px; margin: 30px auto 0 0}
.u-section-9 .u-text-5 {margin: 27px auto 0 0}
.u-section-9 .u-layout-cell-2 {min-height: 428px}
.u-section-9 .u-container-layout-2 {padding: 30px}
.u-section-9 .u-form-1 {height: 395px; margin: 0 -60px 0 0}
.u-section-9 .u-btn-1 {background-image: none; border-style: none; text-transform: uppercase; font-weight: 700} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 617px}
.u-section-9 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-1 {min-height: 383px}
.u-section-9 .u-layout-cell-2 {min-height: 353px}
.u-section-9 .u-form-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 534px}
.u-section-9 .u-text-1 {font-size: 9.375rem}
.u-section-9 .u-text-2 {font-size: 3.75rem; width: auto; margin-top: -115px}
.u-section-9 .u-layout-wrap-1 {margin-top: 43px; margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-1 {min-height: 100px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-3 {font-size: 1.5rem}
.u-section-9 .u-layout-cell-2 {min-height: 270px} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 1156px}
.u-section-9 .u-text-1 {font-size: 6.25rem; margin-top: 59px; margin-left: 43px; margin-right: 43px}
.u-section-9 .u-text-2 {font-size: 3rem; margin-top: -81px}
.u-section-9 .u-layout-wrap-1 {margin-top: 59px; margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-2 {min-height: 304px}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 1130px}
.u-section-9 .u-text-1 {font-size: 4.5rem; margin-top: 34px; margin-left: 6px; margin-right: 6px}
.u-section-9 .u-text-2 {font-size: 2.25rem; margin-top: -59px}
.u-section-9 .u-layout-wrap-1 {margin-top: 63px; margin-right: initial; margin-left: initial}
.u-section-9 .u-text-3 {font-size: 1.5}
.u-section-9 .u-layout-cell-2 {min-height: 191px} }.u-section-10 {background-image: none}
.u-section-10 .u-sheet-1 {min-height: 168px}
.u-section-10 .u-layout-wrap-1 {margin: 30px auto 30px 0}
.u-section-10 .u-layout-cell-1 {min-height: 108px}
.u-section-10 .u-container-layout-1 {padding: 30px 60px}
.u-section-10 .u-text-1 {font-weight: 700; margin: 0}
.u-section-10 .u-layout-cell-2 {min-height: 108px}
.u-section-10 .u-container-layout-2 {padding: 30px 60px}
.u-section-10 .u-social-icons-1 {height: 48px; min-height: 16px; width: 240px; min-width: 112px; white-space: nowrap; margin: 0 auto}
.u-section-10 .u-icon-1 {height: 100%}
.u-section-10 .u-icon-2 {height: 100%}
.u-section-10 .u-icon-3 {height: 100%}
.u-section-10 .u-icon-4 {height: 100%} 

@media (max-width: 1199px){ .u-section-10 .u-sheet-1 {min-height: 120px}
.u-section-10 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-10 .u-layout-cell-1 {min-height: 89px}
.u-section-10 .u-layout-cell-2 {min-height: 89px} }

@media (max-width: 991px){ .u-section-10 .u-sheet-1 {min-height: 131px}
.u-section-10 .u-layout-cell-1 {min-height: 100px}
.u-section-10 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-10 .u-layout-cell-2 {min-height: 100px}
.u-section-10 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-10 .u-social-icons-1 {width: 304px} }

@media (max-width: 767px){ .u-section-10 .u-sheet-1 {min-height: 231px}
.u-section-10 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }